<div class="incioDiv">



    <div class="imageInicio">

    </div>
    <div class="negroPropuesta">
        <div class="container">
            <div class="row">
                <h4 class="doradoFont center-align">
                    PERMANENT MAKEUP & PARAMEDICAL TATTOO
                </h4>
            </div>
        </div>

    </div> <br> <br>

    <div class="contInicioNosotros">
        <div class="container">
            <div class="row">

                <div class="col l4 m4 s12">
                    <h2>Scalp Microblading</h2>
                    <hr class="#212121 grey darken-4">
                    <h5>
                        <ul class="list-group list-group-light list-group-small">
                            <li class="list-group-item">Enhance the appearance of the scalp by mimicking the look of
                                natural hair</li> <hr>
                            <li class="list-group-item">It helps to cover areas with thinning or baldness</li><hr>
                            <li class="list-group-item">Non-surgical, natural-looking solution to hair loss</li>
                        </ul>

                    </h5>
                </div>
                <div class="col l8 m8 s12">
                    <a class="gray responsiveScalp1" >
                        <img class="responsive-img" src="/assets/images/scalpM.jpg" alt="placeholder">
                    </a>
                     <a class="gray responsiveScalp2">
                        <img class="responsive-img" src="/assets/images/scalpMC.jpg" alt="placeholder">
                    </a>
                </div>
            </div>
        </div>

        <div class="titleVarietales container center-align">
            <h4 style="color: #ffab00;" class="blink">Permanent Lip Liner Coming soon...</h4>
            <a href="#services" class="waves-effect waves-light btn #ffab00 amber accent-4">Explore all services</a>

        </div> <br> <br>
        <div class="container">
            <div class="row">

                <div class="col l6 m6 s12">


                    <div class="slider">
                        <ul class="slides">
                            <li>
                                <img src="/assets/images/breast.jpg"> <!-- random image -->
                                <div class="caption center-align">
                                    <h3>Areola reconstruction</h3>
                                    <h5 class="light grey-text text-lighten-3">For breast cancer survivors</h5>
                                </div>
                            </li>
                            <li>
                                <img src="/assets/images/sugar.jpg"> <!-- random image -->
                                <div class="caption left-align">
                                    <h3>Sugaring</h3>
                                    <h5 class="light grey-text text-lighten-3">For body hair removal</h5>
                                </div>
                            </li>
                            <li>
                                <img src="/assets/images/aging.jpg"> <!-- random image -->
                                <div class="caption right-align">
                                    <h3>Non-invasive anti-aging</h3>
                                    <h5 class="light grey-text text-lighten-3">Treatments</h5>
                                </div>
                            </li>
                            <li>
                                <img src="/assets/images/scar.jpg"> <!-- random image -->
                                <div class="caption center-align">
                                    <h3>Scar & Stretch Mark Camouflage</h3>
                                    <h5 class="light grey-text text-lighten-3">Paramedical tattoo</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <h2>Our Commitment to Personal Care</h2>
                    <hr class="#212121 grey darken-4">
                    <h5>
                        We understand that taking care of yourself is an act of self-love. In this corner, we deliver
                        the best services por medical aethetics and skin care. They are all designed to pamper your
                        skin, enhance your natural beauty, and embrace life
                        after adversity.
                    </h5>
                </div>
            </div>
        </div>

        <div class="microbladingBanner">

        </div> <br> <br>
        <div id="services" class="titleVarietales container center-align section scrollspy">
            <h4 style="color: #ffab00;">MEDICAL AESTHETICS</h4>
            <a href="/services" class="waves-effect waves-light btn #ffab00 amber accent-4 blink">Services
                Portfolio</a>

        </div> <br> <br>
        <!-- Gallery -->
        <div id="portfolio" class="section gray">
            <div class="container">
                <div class="gallery row">
                    <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/paramedicalT.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>PARAMEDICAL TATTOO</span> <br>
                                {{!-- <span class="price">Starting from CA$200.00</span> --}}
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>PARAMEDICAL TATTOO</h3>
                                    {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br>
                                    --}}
                                    {{!-- <span class="price">Costo de envío: $0.00 MN</span> --}}
                                </div>
                                <p class="description">
                                    Explore our paramedical tattoo services for acne, stretch marks, and radiation
                                    marker camouflage. Enhance your natural beauty with customized solutions tailored to
                                    your unique needs. Book a consultation for transformative results. <br> <br>

                                    Experience the confidence-boosting effects of our expertly crafted paramedical
                                    tattoo artistry. Our skilled professionals use advanced techniques to address
                                    specific concerns such as acne scars, stretch marks, and the discreet camouflage of
                                    radiation markers. Each session is designed to provide personalized and
                                    natural-looking results,
                                    helping you reclaim your skin's beauty. Discover the transformative power of our
                                    paramedical tattoo services – your journey to renewed self-assurance starts here.
                                </p>
                                <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                    target="_blank">More
                                    information...</a>



                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                    </div> --}}
                    <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                        <div class="gallery-curve-wrapper">
                            <a class="gallery-cover gray">
                                <img class="responsive-img" src="/assets/images/permanentM.jpg" alt="placeholder">
                            </a>
                            <div class="gallery-header">
                                <span>PERMANENT MAKE UP</span> <br>
                                {{!-- <span class="price">Starting from CA$200.00</span> --}}
                            </div>
                            <div class="gallery-body gallery-bodies">
                                <div class="title-wrapper">
                                    <h3>PERMANENT MAKE UP</h3>
                                    {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br>
                                    --}}
                                    {{!-- <span class="price">Costo de envío: $55.00 MN</span> --}}
                                </div>
                                <p class="description">
                                    "Permanent Makeup" refers to an aesthetic procedure in
                                    which pigment is applied to the skin to create the appearance of long-lasting
                                    makeup. It is also known as micropigmentation or cosmetic tattooing. Unlike
                                    traditional makeup, permanent makeup uses techniques similar to tattoos to implant
                                    pigments into the top layer of the skin, known as the epidermis.
                                    <br> <br>
                                    Micropigmentation is performed using specialized tools, such as a micropigmentation
                                    machine or a tattoo pen, which deposits small amounts of pigment into the skin to
                                    achieve: Permanent Eyebrows, Permanent Eyeliner, Permanent Lips, Eye Liner, Scar
                                    Camouflage, Areolas and Nipples, Beauty Marks, and Moles.

                                </p>
                                <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                    target="_blank">More
                                    Information...</a>
                                <br> <br>
                                {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                    <input type="image"
                                        src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif"
                                        border="0" name="submit"
                                        alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                        width="1" height="1">
                                </form> --}}
                                {{!-- <form action="/create-checkout-session" method="POST">
                                    <button type="submit" id="checkout-button"
                                        class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                                </form> --}}


                                <div class="carousel-wrapper">
                                    <div class="carousel">
                                        <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                        <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                        <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                        <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-action">
                                <a class="btn-floating btn-large waves-effect waves-light"><i
                                        class="material-icons">favorite</i></a>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div><!-- /.container -->
    </div>


</div>