<div class="privacidadDiv">

    <div class="bannerPrivacidad">
        <div class="overlayPrivacidad">
            <div class="container centered">
                <div class="section">
                    <div class="row">
                        <h2 class="avisoPrivacidadTitle white-text">PRIVACY POLICY</h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="avisoDiv">
        <div class="container">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">¿Who we are?</th>
                        <td><span class="specialEliteFont">AMARCE</span> es el responsable del uso y protección
                            de
                            sus datos personales.</td>
                    </tr>
                    <tr>
                        <th scope="row">What purposes will we use your personal data for?</th>
                        <td>Los datos personales que recabamos de usted, los utilizaremos para la validación de métodos
                            de
                            pagos, contacto de clientes o cualquier derivado del hecho de
                            participar entregarnos tu información por interés en nuestros servicios.</td>
                    </tr>
                    <tr>
                        <th scope="row">Where can I consult the comprehensive privacy notice?</th>
                        <td>To learn more about the terms and conditions under which your personal data will be
                            processed, and how you can exercise your ARCO rights, you can consult the comprehensive
                            privacy notice. </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <p>
                AMARCE is responsible for the use and protection of your personal data. In this regard, we inform you as
                follows.
            </p>
            <p>
                The personal data collected for identification, contact, employment, and financial purposes will be used
                for payment method validation, customer contact, or any derived from the fact of leaving your data out
                of interest in our services.
            </p>
            <p>
                You have the right to access to know the personal data that AMARCE has about you, the purpose for which
                they are used, and the conditions of the use given to them. Likewise, in protection of the right of
                rectification, it is your right to request the correction of your personal information in case it is
                outdated, inaccurate, or incomplete; you have the right to cancellation, so you can request that your
                information be deleted from our records or databases when you consider that it is not being used in
                accordance with the principles, duties, and obligations provided in the regulations; as well as the
                right to object to the use of your personal data for specific purposes. These rights are known as ARCO
                rights.
            </p>
            <p>
                You have the right to revoke the consent you have granted for the processing of your personal data.
                However, it is important to note that in all cases your request may not be attended to or the use
                concluded immediately, as it is possible that by legal obligation we may require to continue processing
                your personal data. Likewise, you should consider that, for certain purposes, the revocation of consent
                will imply the suspension of the service you requested, or the conclusion of your relationship with
                AMARCE.
            </p>
            <p>
                Likewise, you have the right to limit the use and disclosure of your information so that it is not
                treated for marketing, advertising, or commercial prospecting purposes by AMARCE.
            </p>
            <p>
                We inform you that we use cookies, web beacons, and other technologies through which it is possible to
                monitor your behavior as an Internet user, in order to provide you with a better service and user
                experience when browsing our website, as well as to send you promotions, news about the call, and
                reminders to participants. You can disable this function from your device's website settings.
            </p>
            <p>
                To know the procedure and requirements for the exercise of any of the ARCO rights, revocation of
                consent, or limitation of use and disclosure of your data, you can contact us through the email
                alecvipa@gmail.com, where any doubts regarding the treatment of your information will be addressed.
            </p>
            <p>
                This privacy notice may undergo modifications, changes, or updates derived from new legal requirements;
                of our own needs for the products or services we offer; of our privacy practices; changes in our
                business model, or for other reasons. Any changes to this privacy notice will be notified to you through
                the same website.
            </p>
            <p>
                Last updated February 9, 2024.
            </p>

        </div> <br>

    </div>

</div>