<div class="servicesDiv">
    <div class="yearsInnovating">

    </div> <br> <br>
    <div class="container">
        <div class="row">
            <blockquote>
                <h4 style="color: #ffab00;" class="blink">Permanent Lip Liner Coming soon...</h4>
                <a href="/contact" class="waves-effect waves-light btn #ffab00 amber accent-4">More info</a>
            </blockquote>

        </div>
    </div>
    <!-- Gallery -->
    <div id="portfolio" class="section gray">
        <div class="container">
            <div class="gallery row">
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceLash.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>LASH EXTENSIONS</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>LASH EXTENSIONS</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $0.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Elevate your natural beauty with our premium lash extension services. Our skilled
                                technicians specialize in creating stunning, customized lash looks tailored to enhance
                                your unique features. <br> <br>
                                Using high-quality materials, we ensure long-lasting, comfortable,
                                and beautifully crafted lashes that effortlessly complement your style. Experience the
                                allure of fuller, voluminous lashes and wake up every day with a captivating gaze. Book
                                your appointment now for an instant boost to your eye-catching allure!
                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>



                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                </div> --}}
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceSkin.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>SKINCARE & ANTIAGING</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>SKINCARE & ANTIAGING</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $55.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Indulge in our luxurious skincare and anti-aging services designed to rejuvenate and
                                enhance your natural radiance. Our expert skincare professionals curate personalized
                                treatments using top-tier products to address your unique skin concerns. <br> <br>
                                Whether you're seeking a refreshing facial, advanced anti-aging solutions, or a
                                revitalizing skincare
                                routine, we are dedicated to helping you achieve a luminous and youthful complexion.
                                Embrace the journey to healthier, more radiant skin. Schedule your appointment to unlock
                                the secrets to timeless beauty!

                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>
                            <br> <br>
                            {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                <input type="image"
                                    src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0"
                                    name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form> --}}
                            {{!-- <form action="/create-checkout-session" method="POST">
                                <button type="submit" id="checkout-button"
                                    class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                            </form> --}}


                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
    <!-- Gallery -->
    <div id="portfolio" class="section gray">
        <div class="container">
            <div class="gallery row">
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceAreola.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>AREOLA RECONSTRUCTION</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>AREOLA RECONSTRUCTION</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $0.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Experience compassionate care with our specialized Areola Reconstruction and Paramedical
                                Tattoo service, tailored for breast cancer survivors. Our skilled professionals are
                                committed to helping you regain confidence and feel whole again after breast surgery.
                                Using advanced paramedical tattoo techniques, we recreate natural-looking areolas with
                                precision and artistry. <br> <br> This service is not just about aesthetics; it's a
                                transformative
                                journey towards self-love and healing. Let us be a part of your story and support you in
                                embracing your strength and beauty. Schedule a consultation today and take the first
                                step toward reclaiming your sense of self.
                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>



                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                </div> --}}
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceScar.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>SCAR & STRECH MARK CAMOUFLAGE</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>SCAR & STRECH MARK CAMOUFLAGE</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $55.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Unveil the beauty beneath with our Scar & Stretch Mark Camouflage service. Our expert
                                team is dedicated to helping you embrace your skin journey with confidence. Using
                                advanced techniques, we skillfully conceal scars and stretch marks, restoring a smooth
                                and natural appearance to your skin.
                                <br> <br>
                                Micropigmentation is performed using specialized tools, such as a micropigmentation
                                machine or a tattoo pen, which deposits small amounts of pigment into the skin to
                                achieve: Permanent Eyebrows, Permanent Eyeliner, Permanent Lips, Eye Liner, Scar
                                Camouflage, Areolas and Nipples, Beauty Marks, and Moles.

                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>
                            <br> <br>
                            {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                <input type="image"
                                    src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0"
                                    name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form> --}}
                            {{!-- <form action="/create-checkout-session" method="POST">
                                <button type="submit" id="checkout-button"
                                    class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                            </form> --}}


                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
    <!-- Gallery -->
    <div id="portfolio" class="section gray">
        <div class="container">
            <div class="gallery row">
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceCat.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>CAT EYELINER</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>CAT EYELINER</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $0.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Transform your look with our Semi-Permanent Cat Eyeliner service. Elevate your gaze to
                                new heights with a sleek and defined allure that lasts. Our skilled technicians
                                specialize in creating the perfect cat-eye effect, tailored to enhance your natural
                                features. <br> <br> Experience the convenience of semi-permanent beauty without the
                                hassle of
                                daily application. Unveil eyes that captivate and express your unique style. Book your
                                appointment now and indulge in the lasting allure of cat eyeliner perfection.
                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>



                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                </div> --}}
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceMicro.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>MICROBLADING EYEBROWS</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>MICROBLADING EYEBROWS</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $55.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Elevate your brows to perfection with our Microblading Eyebrows service. Say goodbye to
                                the hassle of daily brow maintenance and welcome a semi-permanent solution that enhances
                                your natural beauty. Our experienced technicians specialize in creating precise and
                                realistic hair-like strokes, ensuring natural-looking and perfectly shaped eyebrows.
                                <br> <br>
                                Micropigmentation is performed using specialized tools, such as a micropigmentation
                                machine or a tattoo pen, which deposits small amounts of pigment into the skin to
                                achieve: Permanent Eyebrows, Permanent Eyeliner, Permanent Lips, Eye Liner, Scar
                                Camouflage, Areolas and Nipples, Beauty Marks, and Moles.

                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a> <br>
                            {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                <input type="image"
                                    src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0"
                                    name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form> --}}
                            {{!-- <form action="/create-checkout-session" method="POST">
                                <button type="submit" id="checkout-button"
                                    class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                            </form> --}}


                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
    <!-- Gallery -->
    <div id="portfolio" class="section gray">
        <div class="container">
            <div class="gallery row">
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceSugar.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>SUGARING</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>SUGARING</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $0.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Experience the art of hair removal with our Sugaring Hair Removal service. Embrace a
                                natural and gentle alternative to traditional waxing, as sugaring effectively removes
                                unwanted hair while minimizing discomfort. <br> <br> Our skilled technicians use a blend
                                of sugar,
                                lemon, and water to create a smooth, sugar paste that gently adheres to the hair,
                                leaving your skin silky and soft. Say goodbye to the stress of waxing and hello to a
                                sweeter, less painful solution for smooth, hair-free skin. Schedule your Sugaring Hair
                                Removal session and enjoy a new level of smoothness today.
                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>



                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="col l4  gallery-item gallery-expand gallery-filter polygon">

                </div> --}}
                <div class="col l6 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            <img class="responsive-img" src="/assets/images/serviceParafina.jpg" alt="placeholder">
                        </a>
                        <div class="gallery-header">
                            <span>PARAFINA FOR SOFT SKIN AND ARTHRITIS</span> <br>
                            {{!-- <span class="price">Starting from CA$200.00</span> --}}
                        </div>
                        <div class="gallery-body gallery-bodies">
                            <div class="title-wrapper">
                                <h3>PARAFINA FOR SOFT SKIN AND ARTHRITIS</h3>
                                {{!-- <span class="price" style="color: black;">Starting from CA$200.00</span> <br> --}}
                                {{!-- <span class="price">Costo de envío: $55.00 MN</span> --}}
                            </div>
                            <p class="description">
                                Indulge in the soothing and hydrating experience of our Paraffin Treatment for
                                irresistibly soft hands and relief from arthritis discomfort. Our Paraffin Treatment
                                involves the application of warm, melted paraffin wax to your hands, creating a
                                therapeutic cocoon that helps moisturize, soften, and rejuvenate your skin. <br> <br> Beyond the
                                luxurious feel, the warmth of the paraffin can bring relief to arthritis symptoms by
                                promoting improved blood flow and reducing joint stiffness. Treat your hands to a
                                pampering session that not only leaves them velvety smooth but also provides a
                                comforting touch for arthritis care. Book your Paraffin Treatment now and give your
                                hands the attention they deserve.

                            </p>
                            <a href="/contact" class="waves-effect waves-light btn #b71c1c red darken-4"
                                target="_blank">Book Appointment</a>
                            <br> <br>
                            {{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="LFA7WPGKZR5QW">
                                <input type="image"
                                    src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0"
                                    name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form> --}}
                            {{!-- <form action="/create-checkout-session" method="POST">
                                <button type="submit" id="checkout-button"
                                    class="btn btn-primary btn-rounded btn-lg">Comprar</button>
                            </form> --}}


                            <div class="carousel-wrapper">
                                <div class="carousel">
                                    <a class="carousel-item" href="#one!"><img src="/assets/images/pm1.jpg"></a>
                                    <a class="carousel-item" href="#two!"><img src="/assets/images/pm2.jpg"></a>
                                    <a class="carousel-item" href="#three!"><img src="/assets/images/pm3.jpg"></a>
                                    <a class="carousel-item" href="#four!"><img src="/assets/images/pm4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-action">
                            <a class="btn-floating btn-large waves-effect waves-light"><i
                                    class="material-icons">favorite</i></a>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
</div>